body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container {
  width: 400px;
  
  

}
h1{
    text-align: center;
}

.card {
  border: 2px solid#ddd;
  padding: 15px;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

.card.active {
  border-color: #007bff;
  background: #f0f8ff;
}

label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
}

.price {
  margin-left: auto;
  font-weight: bold;
}
.saleprice {
  position: absolute;
  right: 0;
  bottom: 0;
  text-decoration: line-through;
}

h4 {
  background: #ff9100;
  padding: 3px;
}

.details {
  display: none;
  margin-top: 15px;
  gap: 10px;
}

.card.active .details {
  display: flex;
}

select {
  padding: 5px;
  width: 100%;
}
.addbtn {
  padding: 5px;
  width: 100%;
  background-color: #007bff;
  border: none;
  border-radius: 2px;
}
